<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="edu.cmu.cs.crystal.CrystalAnalysis">
      <analysis
            class="edu.cmu.cs.typestatefinder.TypestateFinder">
      </analysis>
      <analysis
            class="edu.cmu.cs.typestatefinder.TypestateUsageFinder"
            name="Typestate Usage Finder">
      </analysis>
      <analysis
            class="edu.cmu.cs.typestatefinder.MissingFieldAssignmentFinder"
            name="Missing Field Assignment Finder">
      </analysis>
   </extension>

</plugin>
